 <!-- Navbar -->
 <nav class=" navbar navbar-expand  navbar-nav bg-lb">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="margin-top: 15px;">
        <li class="nav-item  d-sm-inline-block">
            <h3 class=""><img src="/assets/DOCAPOST.png" width="150px">
            </h3>
          </li>
        <li>
            <h1 class="" style="color: white;"><b>ARIANE</b></h1>
          </li>
   
  
    </ul>
    

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto" style="margin-right: 10px;">
       
        <li class="nav-item" >
          <a class="nav-link" data-widget="navbar-search" href="#" role="button" style="color: white;">
            <i class="fas fa-home" sty></i>
            <span style="margin-left: 2px; ">Acuueil</span>

          </a>
         
        </li>
        <li class="nav-item" >
            <a class="nav-link" data-widget="navbar-search" href="#" role="button" style="color: white;">
             
                <div class="dropdown">
                    <i class="fas fa-user"></i>
             
                    <span>User</span>
                    <i class="fas fa-solid fa-arrow-down-long"></i> 
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
            </a>
           
          </li>
        </ul>

      
</nav>
<span >
    <a (click)="toggleSideNav()" class="nav-link bg-lb" data-widget="pushmenu" role="button" style="margin: 10px;border-radius: 2px;width: fit-content; ;color: white;"><i class="fas fa-bars" style="font-size: 15px;"></i></a>
</span>
  <!-- /.navbar -->